@model MovimentoModel
@using System.ComponentModel.DataAnnotations;
@using PagedList;
@using PagedList.Core.Mvc;
@using cloudscribe.Web.Pagination;
<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Movimentação Veículos";
}
@*<style>
        body {
            background-image: url('../../images/Bg.png')
        }
    </style>*@
<style>
    body {
         background-color: #ffffff;;
    }
</style>
<div class="container"  style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:20px;width:1100px;">
    
    </div>
        <div class="container" style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:20px;width:1100px;">


            <form asp-controller="Movimento" asp-action="Pesquisar">
                <h3>VEÍCULOS</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>CÓDIGO</th>
                            <th>MARCA</th>
                            <th>MODELO</th>
                            <th>ANO FABRICAÇÃO</th>
                            <th>ANO MODELO</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    @{

                        foreach (var item in (List<MovimentoModel>)ViewBag.ListaAMovimento)
                        {
                            <tbody>
                                                    <tr>
                                                        @{
                                                            if (@item.ID != 0)
                                                            {
                                                                <td style="width:100px"><button type="button" class="btn btn-success" onclick="Editar(@item.ID.ToString())">Editar</button></td>
                                                                <td style="width:100px"><button type="button" class="btn btn-danger" onclick="ExcluirRegistro(@item.ID.ToString())">Liberar Locação</button></td>
                                                                <td style="width=50px">@item.ID.ToString()</td>
                                                                <td style="width=250px">@item.MARCA.ToString()</td>
                                                                <td style="width=250px">@item.MODELO.ToString()</td>
                                                                <td style="width=150px">@item.DATA_ANO_FABRICACAO.ToString()</td>
                                                                <td style="width=150px">@item.DATA_ANO_MODELO.ToString()</td>
                                                                <td style="width=150px">@item.SATUS_LOCACAO.ToString()</td>
                                                            }
                                                        }
                                                    </tr>
                            </tbody>
                        }
                    }
                </table>
            </form>
        </div>

        <div class="container" style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:20px;width:1100px;">
            <table class="table table-bordered" align="center" style="width:500px;">
                <tbody>
                    <tr>
                        <td style="width:50px"><button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Voltar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form>
            <div>
                <cs-pager cs-paging-pagesize="5"
                          cs-paging-pagenumber="@ViewBag.CurrentPage"
                          cs-paging-totalitems="@ViewBag.TotalItems"
                          cs-pagenumber-param="page"
                          cs-show-first-last="true"
                          cs-suppress-empty-nextprev="true"
                          cs-suppress-inactive-firstlast="true"
                          cs-first-page-text="Primeiro"
                          cs-last-page-text="Ultimo"
                          cs-pager-li-current-class="active"
                          cs-pager-li-non-active-class="disabled"
                          asp-controller="Movimento"
                          asp-action="IndexMovimento">
                </cs-pager>

            </div>

        </form>

        <script>
            function Voltar() {
                window.location.href = "../Home/Menu"
            }

            function ExcluirRegistro(id_conta) {
                alert("cheguei");
                window.location.href = "../Movimento/Liberar/" + id_conta;
            }
            function Editar(id_conta) {
                window.location.href = "../Movimento/RegistrarMovimento/" + id_conta;
            }
        </script>

